@page
@model GrowGreenWeb.Pages.Courses.DetailsModel
@{
    ViewData["Title"] = "Course Details";
}

<style>
    #hero-image {
        height: 600px;
        object-fit: cover;
        border-radius: 15px;
    }
</style>

<div class="container">
    <div class="col-12">
        @{
            string heroUrl = !string.IsNullOrWhiteSpace(Model.Course.ImageUrl)
            ? Model.Course.ImageUrl
            : "/img/courses/default-course.png";
            <img src="@heroUrl" class="img-fluid w-100 rounded-15px" id="hero-image" />
        }
    </div>

    <div class="row mt-4">
        <div class="col-8 card card-body">
            <h3>@Model.Course.Name</h3>
            <p>@Model.Course.Description</p>
            <div class="row mt-4">
                <div class="col-4">
                    <p class="text-muted">CATEGORY</p>
                    <p>Coming Soon</p>
                </div>
                <div class="col-4">
                    <p class="text-muted">DURATION</p>
                    <p>Coming Soon</p>
                </div>
                <div class="col-4">
                    <p class="text-muted">AVG RATING</p>
                    <p>Coming Soon</p>
                </div>
                <div class="col-4">
                    <p class="text-muted">LANGUAGE</p>
                    <p>Coming Soon</p>
                </div>
                <div class="col-4">
                    <p class="text-muted">SUBTITLES</p>
                    <p>Coming Soon</p>
                </div>
                <div class="col-4">
                    <p class="text-muted">LECTURER RATING</p>
                    <p>Coming Soon</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="text-start col-6">
                    <h3>Reviews for past runs</h3>

                </div>
                <div class="text-end text-muted col-6">
                    READ MORE
                </div>
                <strong>COMING SOON</strong>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body text-center">
                    <em>Start Date: @Model.Course.StartDate.ToShortDateString()</em>
                    <p class="mt-2">Available places left</p>
                    <h5 class="mt-0">@Model.Course.AvailableCapacity / @Model.Course.MaxCapacity</h5>

                    @if (Model.Course.AvailableCapacity > 0)
                    {
                        <a class="btn btn-success btn-prominent w-75" asp-page="Viewer/Index" asp-route-id="@Model.Course.Id">Sign Up</a>
                    }
                    else
                    {
                        <p class="text-danger">Course is full</p>
                    }
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body text-center">
                    <h3>Lecturer profile</h3>
                    @{
                        string imageUrl = !string.IsNullOrWhiteSpace(Model.Course.Lecturer.PhotoFilename)
                        ? Model.Course.Lecturer.PhotoFilename
                        : "/img/user/user.png";

                        <img class="img-thumbnail rounded-circle" style="height: 150px" src="@imageUrl" />
                    }
                    <h5 class="mt-4">@Model.Course.Lecturer.FullName</h5>
                    <p class="mt-3">@Model.Course.Lecturer.Bio</p>
                    <a class="btn btn-info w-75" href="#">Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</div>

