@page "{postId}"
@model GrowGreenWeb.Pages.Giving.browsePostModel
@{
    TempData["Title"] = "Browse Posts";
}

@section Styles{
    <link href="@Url.Content("~/css/GivingC/browsePost.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('.color-choose input').on('click', function () {
                var headphonesColor = $(this).attr('data-image');

                $('.active').removeClass('active');
                $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
                $(this).addClass('active');
            });

        });</script>
}        @if (Model.post != null)
{
    <main class="container1">

        <div class="left-column">
            <img data-image="black" src="~/favicon.ico" alt="" height="200" width="200">
            <img data-image="blue" src="images/blue.png" alt="" height="200" width="200">
            <img data-image="red" class="active" src="images/red.png" alt="" height="200" width="200">
        </div>


        <div class="right-column">

            <div class="product-description">
                <span>Grow Green Post</span>
                <h1>@Model.post.Title</h1>
                <p>@Model.post.Description</p>

            </div>


            <div class="product-configuration">
                <div class="product-color">
                    <span>Images</span>

                    <div class="color-choose">
                        <div>
                            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                            <label for="red"><span></span></label>
                        </div>
                        <div>
                            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                            <label for="blue"><span></span></label>
                        </div>
                        <div>
                            <input data-image="black" type="radio" id="black" name="color" value="black">
                            <label for="black"><span></span></label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="product-price">
                    <span>Listers Location : @Model.post.Location</span>
                <a href="#" class="cart-btn">Chat!</a>
            </div>
        </div>
    </main>
    @*check if post belongs to current user (hard coded for now)*@
    @if (Model.userId == 1)
    {
        <div class="container1">
            <form method="POST" asp-page-handler="delete">
                <input type="hidden" name="postId" value="@Model.post.PostId">
                <button type="submit" class="btn btn-danger">Delete Post</button>
                <a href="" class="btn btn-primary">Edit Post</a>
            </form>
        </div>
    }
    }