@using GrowGreenWeb.Models
@using Microsoft.EntityFrameworkCore
@using System.Linq
@inject GrowGreenContext _context
@{
    int courseId = ViewBag.CourseId;
    Course? course = await _context.Courses
        .Include(c => c.Lectures)
        .SingleOrDefaultAsync(c => c.Id == courseId);

    if (course is null)
        return;
    
    List<Lecture> lectures = course.Lectures.OrderBy(l => l.Timestamp).ToList();
    
    <div class="mb-3 card p-2">
        <div class="card-body">
            <h5>@Model.Course.Name</h5>
            <a asp-page="Index" asp-route-id="@Model.Course.Id" class="text-reset text-decoration-none">Edit Course Details</a>
            <hr />
            <h5>
                <a asp-page="QnA" asp-route-id="@Model.Course.Id" class="text-reset text-decoration-none">Q&amp;A</a>
            </h5>
            <hr />
            <h5>
                <span href="#" class="text-reset text-decoration-none">
                    Contents
                    <a asp-page="CreateLecture" asp-route-id="@Model.Course.Id" class="text-reset text-decoration-none">(Add)</a>
                </span>
            </h5>
            @foreach (var lecture in lectures)
            {
                <a asp-page="Contents" asp-route-id="@lecture.Course.Id" asp-route-lectureId="@lecture.Id"
                   class="text-reset text-decoration-none">
                    @lecture.Name
                </a>
                <br />
            }
            <hr />
            <h5>
                <a asp-page="Quizzes" asp-route-id="@Model.Course.Id" class="text-reset text-decoration-none">Quizzes</a>
                <a asp-page="CreateQuiz" asp-route-id="@Model.Course.Id" class="text-reset text-decoration-none">(Add)</a>
            </h5>
        </div>
    </div>
}