@page
@model GrowGreenWeb.Pages.Lecturer.Courses.Manage.ContentsModel
@{
    ViewData["Title"] = "Contents";
}

<h1>Course Management</h1>
<div class="row">
    @* Sidebar *@
    <div class="col-3">
        @{await Html.RenderPartialAsync("_Sidebar");}
    </div>

    <div class="col-9 mb-3 card p-4">
        <div>
            <div class="row">
                <div class="col-6">
                    <h3 class="pt-2">@Model.Lecture.Name</h3>
                </div>
                <div class="col-3">
                    <a asp-page="CreateLecture" asp-route-id="@Model.Course.Id" asp-route-lectureId="@Model.Lecture.Id"
                       class="btn btn-secondary w-100">
                        Edit Details
                    </a>
                </div>
                <div class="col-3">
                    @*<a asp-page="DeleteLecture" asp-route-id="@Model.Course.Id" asp-route-lectureId="@Model.Lecture.Id" *@
                    <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"
                            class="btn btn-danger w-100">
                        Delete
                    </button>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-9">

                    <h4 class="pt-2">Video Summary</h4>
                </div>
                <div class="col-3">
                    <a asp-page="CreateVideo" asp-route-id="@Model.Course.Id" asp-route-lectureId="@Model.Lecture.Id"
                       class="btn btn-success w-100">
                        Upload Video
                    </a>
                </div>
            </div>
        </div>
        @if (!Model.Lecture.Videos.Any())
        {
            <h5 class="mt-2">There are no videos yet. Perhaps add some?</h5>
        }
        @foreach (var video in Model.Lecture.Videos)
        {
            <div class="card mb-3 col-12 px-0">
                <div class="row g-0">
                    <div class="col-lg-2">
                        @{
                            string img;

                            // img = "/img/courses/no-preview.jpg";
                            img = video.PreviewUrl;

                            //if (lecture.ImageUrl is null)
                            //{
                            //    img = "/img/courses/default-course.png";
                            //}
                            //else
                            //{
                            //    img = lecture.ImageUrl;
                            //}

                            <img src="@img" class="card-img"
                                 style="object-fit: cover; border-radius: 15px; height: 132.5px;"/>
                        }
                    </div>
                    <div class="col-lg-8 ps-3">
                        <div class="card-body">
                            <h3>@video.Name</h3>
                            By: <strong>@video.Lecture.Course.Lecturer.FullName</strong>
                            <div class="row pt-2">
                                <div class="col-12">
                                    <img src="/img/courses/Clock.png" class="icon"/>
                                    <span>
                                        Uploaded on @video.Timestamp.ToString("g")
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card-body h-100 text-center d-grid" style="place-content: center;">
                            <a class="text-reset text-decoration-none"
                               asp-page="CreateVideo" asp-route-id="@Model.Course.Id" asp-route-lectureId="@Model.Lecture.Id" asp-route-videoId="@video.Id">
                                <img src="/img/icons/right.png" class="icon icon-lg"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <h4 class="mt-5">Select a video above to begin</h4>

    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you wish to do this? <strong>This cannot be undone!</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Course.Id" asp-route-lectureId="@Model.Lecture.Id">
                    <button class="btn btn-danger">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>