@page
@using Tensorflow
@model GrowGreenWeb.Pages.Lecturer.Courses.Index2Model
@{
    ViewData["Title"] = "Our Courses";
}
<div class="row mb-4 mt-4">
    <div class="col-6">
        <h1>My Courses</h1>
    </div>
    <div class="col-4 text-end">
        @* <a class="btn btn-success bg-3 me-2" asp-page="Create"> *@
        @*     New course *@
        @*     <img src="/img/icons/plus.png" class="icon icon-btn"/> *@
        @* </a> *@
        @* <a href="#" class="btn btn-success bg-5"> *@
        @*     Search/Filter *@
        @*     <img src="/img/icons/filter.png" class="icon icon-btn"/> *@
        @* </a> *@
        <form>
            <div class="input-group">
                <input class="form-control border rounded-pill" id="search-input" asp-for="SearchQuery" style="padding-left: 22px; padding-right: 50px;">

                <span class="input-group-append" style="z-index: 1000;">
                    <button class="btn btn-outline-secondary border-start-0 border-bottom-0 border-top-0 border-0 rounded-pill" style="margin-left: -60px">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

    </div>
    <div class="col-2">
        <a class="btn btn-success bg-3 me-2" asp-page="Create">
            New course
            <img src="/img/icons/plus.png" class="icon icon-btn"/>
        </a>

    </div>

</div>


@* <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel"> *@
@*     <div class="carousel-inner"> *@
@*         <div class="carousel-item active"> *@
@*             <div class="card card-course"> *@
@*                 <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div> *@
@*                 <div class="card-body"> *@
@*                     <h5 class="card-title">Card title 1</h5> *@
@*                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the *@
@*                         card's content.</p> *@
@*                     <a href="#" class="btn btn-primary">Go somewhere</a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="carousel-item"> *@
@*             <div class="card card-course"> *@
@*                 <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div> *@
@*                 <div class="card-body"> *@
@*                     <h5 class="card-title">Card title 2</h5> *@
@*                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the *@
@*                         card's content.</p> *@
@*                     <a href="#" class="btn btn-primary">Go somewhere</a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="carousel-item"> *@
@*             <div class="card card-course"> *@
@*                 <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div> *@
@*                 <div class="card-body"> *@
@*                     <h5 class="card-title">Card title 3</h5> *@
@*                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the *@
@*                         card's content.</p> *@
@*                     <a href="#" class="btn btn-primary">Go somewhere</a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="carousel-item"> *@
@*             <div class="card card-course"> *@
@*                 <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div> *@
@*                 <div class="card-body"> *@
@*                     <h5 class="card-title">Card title 4</h5> *@
@*                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the *@
@*                         card's content.</p> *@
@*                     <a href="#" class="btn btn-primary">Go somewhere</a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="carousel-item"> *@
@*             <div class="card card-course"> *@
@*                 <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div> *@
@*                 <div class="card-body"> *@
@*                     <h5 class="card-title">Card title 5</h5> *@
@*                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the *@
@*                         card's content.</p> *@
@*                     <a href="#" class="btn btn-primary">Go somewhere</a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="carousel-item"> *@
@*             <div class="card card-course"> *@
@*                 <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div> *@
@*                 <div class="card-body"> *@
@*                     <h5 class="card-title">Card title 6</h5> *@
@*                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the *@
@*                         card's content.</p> *@
@*                     <a href="#" class="btn btn-primary">Go somewhere</a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="carousel-item"> *@
@*             <div class="card card-course"> *@
@*                 <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div> *@
@*                 <div class="card-body"> *@
@*                     <h5 class="card-title">Card title 7</h5> *@
@*                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the *@
@*                         card's content.</p> *@
@*                     <a href="#" class="btn btn-primary">Go somewhere</a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="carousel-item"> *@
@*             <div class="card card-course"> *@
@*                 <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div> *@
@*                 <div class="card-body"> *@
@*                     <h5 class="card-title">Card title 8</h5> *@
@*                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the *@
@*                         card's content.</p> *@
@*                     <a href="#" class="btn btn-primary">Go somewhere</a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="carousel-item"> *@
@*             <div class="card card-course"> *@
@*                 <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div> *@
@*                 <div class="card-body"> *@
@*                     <h5 class="card-title">Card title 9</h5> *@
@*                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the *@
@*                         card's content.</p> *@
@*                     <a href="#" class="btn btn-primary">Go somewhere</a> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@*     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"> *@
@*         <span class="carousel-control-prev-icon" aria-hidden="true"></span> *@
@*         <span class="visually-hidden">Previous</span> *@
@*     </button> *@
@*     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"> *@
@*         <span class="carousel-control-next-icon" aria-hidden="true"></span> *@
@*         <span class="visually-hidden">Next</span> *@
@*     </button> *@
@* </div> *@

<style>
        .carousel-inner {
         padding: 1em;
       }
       .card-course {
         margin: 0 0.5em;
         box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
         border: none;
         min-height: 376px;
       }
       .carousel-control-prev,
       .carousel-control-next {
         background-color: #e1e1e1;
         width: 6vh;
         height: 6vh;
         border-radius: 50%;
         top: 50%;
         transform: translateY(-50%);
       }
       @@media (min-width: 768px) {
         .carousel-item {
           margin-right: 0;
           flex: 0 0 33.333333%;
           display: block;
         }
         .carousel-inner {
           display: flex;
         }
       }
       .card-course .img-wrapper {
           max-width: 100%;
           height: 13em;
           display: flex;
           justify-content: center;
           align-items: center;
       }
       .card-course img {
           max-height: 100%;
           object-fit: cover;
           height: 100%;
           border-top-left-radius: 15px;
           border-top-right-radius: 15px;
       }
       @@media (max-width: 767px) {
         .card-course .img-wrapper {
           height: 17em;
         }
       }
       </style>

@if (Model.OngoingCourses.Any())
{
    <h4 class="mt-5 ms-4">Ongoing Courses</h4>
    <div class="row">
        <div id="carouselPopular" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var course in Model.OngoingCourses)
                {
                    <div class="carousel-item active">
                        <a class="text-reset text-decoration-none" asp-page="Manage/Index" asp-route-id="@course.Id">
                            <div class="card card-course">
                                <div class="img-wrapper">
                                    @{
                                        string img = course.ImageUrl
                                                     ?? "/img/courses/default-course.png";

                                        <img src="@img" class="d-block w-100"/>
                                    }
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@course.Name</h5>
                                    <p class="card-text">
                                        <span class="text-muted">
                                            @course.StartDate.ToString("dd MMM yyyy")
                                            -
                                            @course.EndDate.ToString("dd MMM yyyy")
                                        </span>
                                        <br/>
                                        <p style="position: absolute; bottom: 0.5rem">
                                            <img src="/img/courses/Clock.png" class="icon"/>
                                            <span>
                                                Last updated
                                                <strong>
                                                    @if (course.LastUpdatedTimestamp is null)
                                                    {
                                                        <text>Never</text>
                                                    }
                                                    else
                                                    {
                                                        <text>@course.LastUpdatedTimestamp.Value.ToString("g")</text>
                                                    }
                                                </strong>
                                            </span>
                                        </p>
                                        <div class="ms-auto fw-bold" style="position: absolute;bottom: 1.5rem; right: 15px;">
                                            @course.CourseSignups.Count <img src="/img/courses/Person.png" class="icon"/>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPopular" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPopular" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
}

@if (Model.PastCourses.Any() == true)
{
    <h4 class="mt-5 ms-4">Past Courses</h4>
    <div id="carouselPast" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var course in Model.PastCourses)
            {
                <div class="carousel-item active">
                    <a class="text-reset text-decoration-none" asp-page="Manage/Index" asp-route-id="@course.Id">
                        <div class="card card-course">
                            <div class="img-wrapper">
                                @{
                                    string img = course.ImageUrl
                                                 ?? "/img/courses/default-course.png";

                                    <img src="@img" class="d-block w-100"/>
                                }
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@course.Name</h5>
                                <p class="card-text">
                                    <span class="text-muted">
                                        @course.StartDate.ToString("dd MMM yyyy")
                                        -
                                        @course.EndDate.ToString("dd MMM yyyy")
                                    </span>
                                    <br/>
                                    <p style="position: absolute; bottom: 0.5rem">
                                        <img src="/img/courses/Clock.png" class="icon"/>
                                        <span>
                                            Last updated
                                            <strong>
                                                @if (course.LastUpdatedTimestamp is null)
                                                {
                                                    <text>Never</text>
                                                }
                                                else
                                                {
                                                    <text>@course.LastUpdatedTimestamp.Value.ToString("g")</text>
                                                }
                                            </strong>
                                        </span>
                                    </p>
                                    <div class="ms-auto fw-bold" style="position: absolute;bottom: 1.5rem; right: 15px;">
                                        @course.CourseSignups.Count <img src="/img/courses/Person.png" class="icon"/>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPast" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselPast" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}

@if (!Model.OngoingCourses.Any() && !Model.PastCourses.Any())
{
    <h3 class="text-muted text-center mt-5">No courses found</h3>
}

@section Scripts {
    <script>
        // var multipleCardCarousel1 = document.querySelector(
        //   "#carouselSignedUp"
        // );
        // if (window.matchMedia("(min-width: 768px)").matches) {
        //   var carousel1 = new bootstrap.Carousel(multipleCardCarousel1, {
        //     interval: false,
        //   });
        //   var carouselWidth1 = $(".carousel-inner")[0].scrollWidth;
        //   var cardWidth1 = $(".carousel-item").width();
        //   var scrollPosition1 = 0;
        //   $("#carouselSignedUp .carousel-control-next").on("click", function () {
        //     if (scrollPosition1 < carouselWidth1 - cardWidth1 * 3) {
        //       scrollPosition1 += cardWidth1;
        //       $("#carouselSignedUp .carousel-inner").animate(
        //         { scrollLeft: scrollPosition1 },
        //         600
        //       );
        //     }
        //   });
        //   $("#carouselSignedUp .carousel-control-prev").on("click", function () {
        //     if (scrollPosition1 > 0) {
        //       scrollPosition1 -= cardWidth1;
        //       $("#carouselSignedUp .carousel-inner").animate(
        //         { scrollLeft: scrollPosition1 },
        //         600
        //       );
        //     }
        //   });
        // } else {
        //   $(multipleCardCarousel1).addClass("slide");
        // }
        
        var multipleCardCarousel2 = document.querySelector(
          "#carouselPopular"
        );
        if (window.matchMedia("(min-width: 768px)").matches) {
          var carousel2 = new bootstrap.Carousel(multipleCardCarousel2, {
            interval: false,
          });
          var carouselWidth2 = $(".carousel-inner")[0].scrollWidth;
          var cardWidth2 = $(".carousel-item").width();
          var scrollPosition2 = 0;
          $("#carouselPopular .carousel-control-next").on("click", function () {
            if (scrollPosition2 < carouselWidth2 - cardWidth2 * 3) {
              scrollPosition2 += cardWidth2;
              $("#carouselPopular .carousel-inner").animate(
                { scrollLeft: scrollPosition2 },
                600
              );
            }
          });
          $("#carouselPopular .carousel-control-prev").on("click", function () {
            if (scrollPosition2 > 0) {
              scrollPosition2 -= cardWidth2;
              $("#carouselPopular .carousel-inner").animate(
                { scrollLeft: scrollPosition2 },
                600
              );
            }
          });
        } else {
          $(multipleCardCarousel2).addClass("slide");
        }

        var multipleCardCarousel3 = document.querySelector(
          "#carouselPast"
        );
        if (window.matchMedia("(min-width: 768px)").matches) {
          var carousel3 = new bootstrap.Carousel(multipleCardCarousel3, {
            interval: false,
          });
          var carouselWidth3 = $(".carousel-inner")[0].scrollWidth;
          var cardWidth3 = $(".carousel-item").width();
          var scrollPosition3 = 0;
          $("#carouselPast .carousel-control-next").on("click", function () {
            if (scrollPosition3 < carouselWidth3 - cardWidth3 * 3) {
              scrollPosition3 += cardWidth3;
              $("#carouselPast .carousel-inner").animate(
                { scrollLeft: scrollPosition3 },
                600
              );
            }
          });
          $("#carouselPast .carousel-control-prev").on("click", function () {
            if (scrollPosition3 > 0) {
              scrollPosition3 -= cardWidth3;
              $("#carouselPast .carousel-inner").animate(
                { scrollLeft: scrollPosition3 },
                600
              );
            }
          });
        } else {
          $(multipleCardCarousel3).addClass("slide");
        }
    </script>
}