@page
@model GrowGreenWeb.Pages.Lecturer.DashboardModel

<div class="container" id="report_container">
    <h2>Courses Report</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Sign Ups</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.listOfCourses)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.CourseSignups.Count()</td>
                    <td>@course.StartDate.ToLongDateString()</td>
                    <td>@course.EndDate.ToLongDateString()</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <canvas id="courses_chart" width="200" height="200"></canvas>
    <br />
</div>
<form method="post" id="exportPdfForm">
        <input type="hidden" id="PdfHtml" name="PdfHtml" />
        <button id="exportAsPdfBtn" type="button" class="btn btn-lg btn-primary">
      Export
    </button>
</form>

@section Scripts{
<!-- Script to init use of Chart.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"
    integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
    integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css"
    integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"
    integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
    integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
    integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

<script>
    // Generate Number of Courses chart 
    const barColors = ["red", "yellow","green", "blue", "orange",, "brown"];

    // Generate Number of Events chart
    const coursesXValues = [];
    const coursesYValues = [];

    const listOfCourses = @Html.Raw(Model.listOfCoursesJson);

    listOfCourses.forEach((course, index) => {
        coursesXValues.push(course.Name);
        coursesYValues.push(course.CourseSignups.length);
    });

    new Chart("courses_chart", {
        type: "bar",
        data: {
            labels: coursesXValues,
            datasets: [{
                backgroundColor: barColors,
                data: coursesYValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Number of sign ups"
            }
        }
    });
</script>
<script>
    $(document).ready(() => {
        $("#exportAsPdfBtn").click(() => {
            $("#PdfHtml").val($("#report_container").html());
            $("#exportPdfForm").submit();
            })
    })
</script>
}