@page
@model GrowGreenWeb.Pages.Courses.Viewer.VideoViewerModel
@{
    ViewData["Title"] = Model.Video.Name;
}

<div class="row">
    @* Sidebar *@
    <div class="col-3">
        @{ await Html.RenderPartialAsync("_Sidebar"); }
    </div>
    <div class="col-9">
        <div class="mb-3 card p-2">
            <div class="card-body">
                <h2>
                    <a asp-page="/Courses/Viewer/Contents"
                       asp-route-courseId="@Model.Course.Id"
                       asp-route-lectureId="@Model.Video.Lecture.Id"
                       class="text-reset text-decoration-none">
                        <i class="fa fa-caret-left"></i> @Model.Video.Lecture.Name

                    </a>
                </h2>
                <h3>@Model.Video.Name</h3>
                <p class="text-muted">Published @Model.Video.Timestamp</p>
                <hr/>
                <video controls class="w-100">
                    <source src="@Model.Video.Url" type="video/mp4">
                </video>
                <hr/>
                <h5>By: @Model.Course.Lecturer.FullName</h5>
                <h5>Description</h5>
                <p>@Model.Video.Transcript</p>
                <h5>Generated Transcript</h5>
                @if (Model.Video.GeneratedTranscript is null)
                {
                    <p class="fst-italic">
                        Transcript is unavailable or still generating. Please check back soon...
                    </p>
                }
                else
                {
                    <p>@Model.Video.GeneratedTranscript</p>
                }
            </div>
        </div>
    </div>
</div>